{% extends "base_min.html" %}


{% block content %}

{% if user.is_authenticated %}
<!-- shouldn't really get here... -->
{% else %}
{% if form.errors %}
<p>{% _("Your username and password didn't match. Please try again.") }}</p>
{% endif %}




<form method="post" action="/accounts/login/">
{% csrf_token %}
<ul>
  <li>
    <label for="username">{{ _('Username') }}</label>
    <input type="text" name="username" value="" id="username" />
  </li>
  <li>
    <label for="password">{{ _('Password') }}</label>
    <input type="password" name="password" value="" id="password" />
  </li>

  <li>
    <input type="hidden" name="next" value="{{ NEXT }}" />
  </li>
  <li>
    <input type="submit" value="Login">
  </li>
</ul>
</form>
{% endif %}

{% endblock %}