<!DOCTYPE html> 
<html> 
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>FFDemo</title>
		<link href="/static/style.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/static/jquery-1.4.4.min.js"></script>
		<script type="text/javascript">
			// {% block js %}{% endblock %}
			
			$(document).ready(function ()
			{
				console.log("ready");
			});
		</script>
  </head>

  <body>
	wtf
    <!-- {% block content %}{% endblock %} -->
  </body>

</html>