{% extends "base.html" %}
{% load i18n %}
{% block bodytag %}
  <body class="behind-the-code about">
{% endblock %}
{% block content %}
	<section id="static-content">
		<section class="col-secondary">
			<nav id="about-nav">
				<ul>
					<li id="about-mozilla"><a href="/about/mozilla">{{ _('About Mozilla') }}</a></li>
					<li id="about-gml"><a href="/about/gml">{{ _('GML') }}</a></li>
					<li id="about-evan-roth"><a href="/about/evan-roth">{{ _('Evan Roth') }}</a></li>
					<li id="about-code"><a href="/about/code">{{ _('Code Repository') }}</a></li>
				</ul>
			</nav>
		</section>
		<section class="col-main col-last">
			{% block about-content %}
			<h1>{{ _('Behind the Code') }}</h1>
			<p>{% blocktrans %}Mozilla is a non-profit organization dedicated to placing the future of the Web in the hands of
			the people.<br />
			An artist inspired by graffiti and free culture.<br />
			What happens when these two like-minded entities come together?{% endblocktrans %}</p>
			
			<p>{% blocktrans %}Here's where you'll find more information on Mozilla, Evan Roth and the project born of their collaboration.{% endblocktrans %}</p>
			
			<p>{% blocktrans %}Learn more about Mark Up, its mission and the contribution from respected open Web advocate Lawrence Lessig <a href="/manifesto">here</a>.{% endblocktrans %}</p>
			{% endblock %}
		</section>
	</section>
{% endblock %}
