{% extends "about.html" %}
{% load i18n %}
{% block bodytag %}
  <body class="behind-the-code about-code">
{% endblock %}

{% block about-content %}
	<h1>{{ _('Code Repository') }}</h1>
	<p>{% blocktrans %}We believe creativity should be shared. We believe everything on the Web should be accessible to the people who contribute to it. And that's why we chose to make the code behind Mark Up public.{% endblocktrans %}</p>
	<p>{% blocktrans %}We encourage you to use the code below to keep creating, collaborating and contributing.{% endblocktrans %}</p>
	<p>{% blocktrans with "http://github.com/mozilla/markup" as githuburl %}<a href="{{ githuburl }}">Get Code at GitHub</a>{% endblocktrans %}</p>
	<p>{% blocktrans with "mailto:markup@mozilla.org" as email_href %}Email <a href="{{ email_href }}">markup@mozilla.org</a> for more information or to submit your visualization of the Mark Up data set.{% endblocktrans %}</p>
{% endblock %}

