{% extends "about.html" %}
{% load i18n %}
{% block bodytag %}
  <body class="behind-the-code about-gml">
{% endblock %}

{% block about-content %}
	<h1>{{ _('Graffiti Markup Language') }}</h1>
	<div class="video">
		<iframe src="http://player.vimeo.com/video/21270066" width="500" height="281" frameborder="0"></iframe>
	</div>
	<p>{% blocktrans %}Graffiti Markup Language (.gml) is a universal, XML-based, open file format designed to store graffiti motion data (x coordinates, y coordinates and time). GML is intended to be a simple bridge between ink and code, promoting collaborations between graffiti writers and hackers.{% endblocktrans %}</p>
	
{% endblock %}

