{% extends "base.html" %}
{% load i18n %}

{% block js %}
<script type="text/javascript" charset="utf-8">
	// placing this inline ensures it will run as soon as the page loads, and that fallback content is removed as soon as possible
	function browserSupportsRequiredFeatures() { 
		var canvas = document.createElement( 'canvas' ); 
		return !!( canvas.getContext && canvas.getContext( '2d' ) && !!( 'JSON' in window ) );
	}
	var elem = document.getElementById( 'fallback' );
	if ( browserSupportsRequiredFeatures() ) {
		// remove the placeholder content
		if ( elem ) { elem.parentNode.removeChild( elem ); }
	} else {
		// remove the display none
		if ( elem ) { elem.removeAttribute( 'style' ); }
	}
</script>
<script src="/media/assets/js/markUp_app.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<noscript>
		<div id="fallback" class="overlay-wrapper">
			<div id="fallback-content">
				<p>{% blocktrans with "http://www.mozilla.com/products/download.html?WT.mc_id=markup&WT.mc_ev=click" as download_url %}Oops! Your browser doesn't support the features used on this site.
				Please download a more modern browser like <a href="{{ download_url }}">the latest version of Firefox</a>.{% endblocktrans %}</p>
			</div>
		</div>
	</noscript>
	<div id="fallback" class="overlay-wrapper" style="display:none;">
		<div id="fallback-content">
			<p>{% blocktrans with "http://www.mozilla.com/products/download.html?WT.mc_id=markup&WT.mc_ev=click" as download_url %}Oops! Your browser doesn't support the features used on this site.
			Please download a more modern browser like <a href="{{ download_url }}">the latest version of Firefox</a>.{% endblocktrans %}</p>
		</div>
	</div>
	<div id="sammy"></div>
	{% if settings.ENABLE_RAW_MARKS %}
	<div id="markapp" data-all-points="true"></div>
	{% else %}
	<div id="markapp" data-all-points="false"></div>
	{% endif %}
	<div class="translated-strings" style="display:none;">
		<span id="default-error-msg">{% blocktrans %}An error occured. Please try your request again.{% endblocktrans %}</span>
		<span id="default-loading-msg">{% blocktrans %}Loading{% endblocktrans %}</span>
	</div>
{% endblock %}
