{% extends "base_min.html" %}

{% block content %}

<table>
<tr>
  <th>{{ _('id') }}</th>
  <th>{{ _('invite code') }}</th>
  <th>{{ _('type') }}</th>
  <th>{{ _('used at') }}</th>
  <th>{{ _('url') }}</th>
</tr>
{% for invite in invites %}
<tr>
  <td>{{ invite.id }}</td>
  <td>{{ invite.invite_code }}</td>
  <td>{{ invite.get_contributor_type_display }}</td>
  <td>{{ invite.used_at }}</td>
  <td>/#/mark/new?invite={{ invite.invite_code }}&contributor_type={{ invite.contributor_type }}</td>
</tr>

{% endfor %}
</table>

{% endblock %}