{% extends "about.html" %}
{% load i18n %}
{% block bodytag %}
  <body class="behind-the-code about-mozilla">
{% endblock %}

{% block about-content %}
	<h1>{{ _('About Mozilla') }}</h1>
	<p>{% blocktrans %}Mozilla is a global, non-profit organization dedicated to making the Web better. We believe in principle over profit, and that the Internet is a shared public resource to be cared for, not a commodity to be sold. We work with a worldwide community to create free, open source software like Mozilla Firefox, and to innovate for the benefit of the individual and the betterment of the Web. The result is great products built by passionate people and better choices for everyone. For more information, visit <a href="http://www.mozilla.org">www.mozilla.org</a>.{% endblocktrans %}</p>
	<h2>{{ _('Special Thanks To') }}</h2>
	<p>{% blocktrans %}Special thanks to <a href="evan-roth">Evan Roth</a> for his contributions to the MarkUP project.{% endblocktrans %}</p>
{% endblock %}

