{% extends "about.html" %}
{% load i18n %}
{% block bodytag %}
  <body class="behind-the-code about-other-collaborators">
{% endblock %}

{% block about-content %}
	<h1>{{ _('Other Collaborators') }}</h1>

	<h2>{{ _('Golan Levin') }} <span class="collaborator-project">( {{ _('project coming soon') }} )</span></h2>
	<img src="/media/assets/images/golan_levin_bio.jpg" width="300" height="200" alt="{{ _('Golan Levin') }}" />
	<p>{% blocktrans %}Golan Levin's work explores the intersection of abstract communication and interactivity. Through performances, digital artifacts, and virtual environments, often created with a variety of collaborators, Levin applies creative twists to digital technologies that highlight our relationship with machines and make visible our ways of interacting with each other. Levin is Associate Professor of Electronic Art and Director of the STUDIO for Creative Inquiry at Carnegie Mellon University, Pittsburgh.{% endblocktrans %}</p>

	<h2>{{ _('Amanda Cox') }} <span class="collaborator-project">( {{ _('project coming soon') }} )</span></h2>
	<img src="/media/assets/images/amanda_cox_bio.jpg" width="300" height="225" alt="{{ _('Amanda Cox') }}" />
	<p>{% blocktrans %}Amanda Cox is a graphics editor at the New York Times, where she creates charts and maps for the newspaper and its Web site. She is primarily interested in revealing patterns, uncovering structure and finding new ways of looking at things. Before joining the Times in 2005, Cox received a master's degree in statistics from the University of Washington and a bachelor's degree in mathematics and economics from St. Olaf College.{% endblocktrans %}</p>

  <h2>{{ _('Jeff Larson') }} <span class="collaborator-project">( {{ _('project coming soon') }} )</span></h2>
  <img src="/media/assets/images/jeff_larson_bio.jpg" width="300" height="200" alt="{{ _('Jeff Larson') }}" />
  <p>{% blocktrans %}Jeff Larson is a Developer at ProPublica where he works with reporters and editors to create news applications. Previously, he worked as the Online Director of the Nation and as an Editorial Assistant at W.W. Norton. He graduated with a degree in English Literature from UCSC. His favorite language is JavaScript.{% endblocktrans %}</p>

{% endblock %}
