{% load i18n %}
<div id="linear" class="autoResize">
	<div id="mark-information">
		<div id="contributor-information" class="group">
			<h3 id="mark-contributor-name"></h3>
			<a href="#" id="mark-contributor-url"></a>
		</div>
		<div id="mark-controls">
			<a id="mark-playback" href="#" title="{{ _('Replay this mark') }}">{{ _('Play') }}</a>
			<a id="mark-gml-download" href="#" title="{{ _('Download the GML for this mark') }}">{{ _('GML') }}</a>
		</div>
		<div id="main-mark-information">
			<a id="mark-flag" href="#" title="Flag as inappropriate">{{ _('Flag as inappropriate') }}</a>
			<h3 id="mark-number">{% blocktrans %}Mark <span id="mark-id"></span> of <span id="total-mark-count"></span> for an open Web.{% endblocktrans %}</h3>
			<h4><span id="mark-timestamp"></span><span id="mark-country"></span></h4>
			<a href="#" id="facebook-share">{{ _('Share on Facebook') }}</a>
			<a href="#" id="twitter-share">{{ _('Share on Twitter') }}</a>
			<div id="url-share">
				<label>{{ _('URL') }}</label>
				<input value="" />
			</div>
		</div>
	</div>
	<div id="contributor-quote-box" style="display:none;">
		<div class="infobox-inner">
			<p id="contributor-name"></p>
			<p id="contributor-quote"></p>
		</div>
		<div class="infobox-arrow"></div>
	</div>
	<div id="mark-browsing" class="collapsible">
		<h3>{{ _('Mark Browsing') }}</h3>
		<div id="mark-browsing-contents" >
			<ul id="mark-browsing-controls"> 
				<li id="mark-browsing-zoom-in"><a href="#">{{ _('zoom in') }}</a></li>
				<li id="mark-browsing-zoom-out"><a href="#">{{ _('zoom out') }}</a></li>
				<li id="mark-browsing-next"><a href="#">{{ _('right') }}</a></li>
				<li id="mark-browsing-prev"><a href="#">{{ _('left') }}</a></li>
			</ul>
			<div id="mark-browsing-options">
				<div class="select-wrapper">
					<label id="country-select-label">{{ _('location:') }}</label>
					<select id="country-select">
						<option>{{ _('All countries') }}</option>
					</select>
				</div>
				<div class="select-wrapper">
					<label id="contributor-select-label">{{ _('contributor:') }}</label>
					<select id="contributor-select">
						<option value="label">{{ _('View a contributor') }}</option>
					</select>
				</div>
			</div>
			<ul id="mark-browsing-shortcuts"> 
				<li><a id="your-mark-link" href="#">{{ _('view yours') }}</a></li>
				<li><a id="first-mark-link" href="/#/linear/first-mark">{{ _('view first') }}</a></li>
				<li><a id="last-mark-link" href="/#/linear/last-mark">{{ _('view last') }}</a></li>
			</ul>
		</div>
	</div>
	
	<a id="view-source" href="https://github.com/mozilla/markup">{{ _('view source') }}</a>
</div>
<div class="translated-strings" style="display:none;">
	<ol id="month-abbreviations">
		<li>{{ _('Jan') }}</li>
		<li>{{ _('Feb') }}</li>
		<li>{{ _('Mar') }}</li>
		<li>{{ _('Apr') }}</li>
		<li>{{ _('May') }}</li>
		<li>{{ _('Jun') }}</li>
		<li>{{ _('Jul') }}</li>
		<li>{{ _('Aug') }}</li>
		<li>{{ _('Sep') }}</li>
		<li>{{ _('Oct') }}</li>
		<li>{{ _('Nov') }}</li>
		<li>{{ _('Dec') }}</li>
	</ol>
	<span id="twitter-msg">{% blocktrans %}Mozilla Firefox Mark Up. The internet is your creation. Show your support to keep it open and free. Make your mark.{% endblocktrans %}</span>
	<span id="facebook-msg">{% blocktrans %}The Web is your creation. Show your support to keep it open and accessible to all. Make your mark. (moz.ly){% endblocktrans %}</span>
	<span id="loading-marks-msg">{{ _('Loading Marks') }}</span>
	<span id="error-msg">{% blocktrans %}Oops! Something went wrong on our end.<br />Please start at <a href="#/linear/">the beginning of the marks</a> and try again.{% endblocktrans %}</span>
	<span id="no-marks-error-msg">{% blocktrans %}We couldn't find any marks for your current selection.<br />Please start at <a href="#/linear/">the beginning of the marks</a> and try again.{% endblocktrans %}</span>
</div>