{% load i18n %}
<div id="markmaker" class="autoResize">
	<div id="intro-main-copy">
		<h1>{{ _('The Web is your creation') }}</h1>
		<p>{% blocktrans %}<strong>Mark Up is a collection of all our individual marks on the Web.</strong>  Like the Web, it is our creation, and should remain public and accessible to everyone.  We invite you, the contributing writers, coders, and artists, to celebrate the worlds greatest public resource by taking ownership of the Web, and making your mark. {% endblocktrans %}</p>
	</div>
	<canvas id="the-big-x"></canvas>
	<h2 id="click-anywhere"><a href="#/mark/new">{{ _('Click anywhere to begin your Mark') }}</a></h2>
	<h3 id="make-your-mark">{{ _('Make Your Mark') }}</h3>
	<h3 id="browse-marks"><a href="#/linear/">{{ _('browse Marks') }}</a></h3>
	<ul id="markmaker-controls">
		<li id="markmaker-submit"><a>{{ _('Submit') }}</a></li>
		<li id="markmaker-reset"><a>{{ _('Reset') }}</a></li>
		<li id="markmaker-cancel"><a href="#/">{{ _('Cancel') }}</a></li>
		<li id="markmaker-location"><a>{{ _('Location') }}</a></li>
	</ul>
	<a id="markmaker-information">{{ _('Information') }}</a>
	<div id="location-dialog" style="display:none;">
		<div class="infobox-inner">
			<div class="group">
				<select id="markmaker-country">
					<option value="label">{{ _('Select country') }}</option>
				</select>
				<a href="#" id="save-location-button">{{ _('Save Location') }}</a>
			</div>
			<p>{% blocktrans with "http://www.mozilla.com/en-US/firefox/geolocation/?WT.mc_id=markup&WT.mc_ev=click" as location_info_url %}Location is only used to associate marks with geographic regions.<br />See <a href="{{ location_info_url }}" target="_blank">Location Aware Browsing</a> for more information.{% endblocktrans %}</p>
		</div>
		<div class="infobox-arrow"></div>
	</div>
	<div id="markmaker-legal-line">
		<p><a href="#legal">{% blocktrans %}Please keep in mind that your mark will be publicly viewed.{% endblocktrans %}</a></p>
	</div>
	<div id="information-dialog" style="display:none;">
		<div class="infobox-inner">
			<p>{% blocktrans %}Click anywhere on the screen to begin your mark. The mouse cursor shows the amount of ink left with which to make your mark.{% endblocktrans %}</p>
		</div>
		<div class="infobox-arrow"></div>
	</div>
	<div id="contributor-fields" class="collapsible">
		<h3>{{ _('Contributor Info') }}</h3>
		<div class="fields group">
			<div class="field-wrapper group">
				<label>{{ _('name') }}</label>
				<input type="text" id="contributor-name" placeholder="{{ _('first and last name') }}" />
			</div>
			<div class="field-wrapper group">
				<label>{{ _('url')}}</label>
				<input type="text" id="contributor-url"  placeholder="{{ _('http://domain.tld/') }}" />
			</div>
			<div class="field-wrapper group">
				<label>{{ _('quote')}}</label>
				<textarea id="contributor-quote" placeholder="{{ _('No quotes or special formating please.') }}"></textarea>
			</div>
		</div>
	</div>
	<div id="translator-fields" class="collapsible">
		<h3>{{ _('Translator Info') }}</h3>
		<p>{% blocktrans %}Please Translate "Make Your Mark" for the <span id="translator-locale"></span> locale.{% endblocktrans %}</p>
	</div>
	<div id="cursor-tooltip" style="display:none;">
		<div class="infobox-inner">
			<p></p>
		</div>
		<div class="infobox-arrow"></div>
	</div>
</div>
<div class="translated-strings" style="display:none;">
	<span id="submitting-mark">{{ _('Submitting Mark') }}</span>
	<span id="loading-intro-msg">{{ _('Loading Mozilla MarkUp') }}</span>
	<span id="submit-error">{% blocktrans %}Oops! Something went wrong on our end.<br />Please submit your mark again.{% endblocktrans %}</span>
	<span id="cursor-tooltip-intro-msg">{{ _('Click anywhere to begin your Mark') }}</span>
	<span id="cursor-tooltip-capture-msg">{{ _('Watch your ink level here as you make your Mark') }}</span>
</div>
